<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" package="ar.tvplayer.tv" platformBuildVersionCode="36" platformBuildVersionName="16">
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-configuration android:reqNavigation="dpad"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT_TREE"/>
        </intent>
        <intent>
            <action android:name="com.android.vending.billing.InAppBillingService.BIND"/>
        </intent>
        <intent>
            <action android:name="com.google.android.apps.play.billingtestcompanion.BillingOverrideService.BIND"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <permission android:name="ar.tvplayer.tv.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="ar.tvplayer.tv.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:allowBackup="false" android:appComponentFactory="ar.tvplayer.tv.ProtectedAppComponentFactory" android:banner="@mipmap/banner" android:extractNativeLibs="false" android:icon="@mipmap/ic_launcher" android:label="@string/APKTOOL_RENAMED_0x7f130020" android:largeHeap="true" android:name=".ProtectedTvPlayerApplication" android:preserveLegacyExternalStorage="true" android:requestLegacyExternalStorage="true" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="false" android:theme="@style/APKTOOL_RENAMED_0x7f1403a3" android:usesCleartextTraffic="true">
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="true"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="true" android:launchMode="singleTop" android:name="ar.tvplayer.tv.ui.MainActivity" android:screenOrientation="landscape" android:supportsPictureInPicture="true" android:theme="@style/APKTOOL_RENAMED_0x7f1403a8">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:directBootAware="false" android:enabled="@bool/APKTOOL_RENAMED_0x7f050004" android:exported="false" android:foregroundServiceType="dataSync|mediaPlayback" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <provider android:authorities="ar.tvplayer.tv.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <provider android:authorities="ar.tvplayer.tv.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="okhttp3.internal.platform.PlatformInitializer" android:value="androidx.startup"/>
        </provider>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="ar.tvplayer.tv.reminders.ui.ReminderPopupActivity" android:taskAffinity="ar.tvplayer.tv.reminders" android:theme="@style/APKTOOL_RENAMED_0x7f1403aa">
            <intent-filter>
                <action android:name="ar.tvplayer.tv.action.REMINDER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="ar.tvplayer.tv.settings.ui.general.SelectBackupActivity" android:theme="@style/APKTOOL_RENAMED_0x7f1403a4"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:name="ar.tvplayer.tv.settings.ui.general.RestoreBackupActivity" android:taskAffinity="ar.tvplayer.tv.settings" android:theme="@style/APKTOOL_RENAMED_0x7f1403aa">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="application/octet-stream"/>
            </intent-filter>
        </activity>
        <activity android:name="ar.tvplayer.tv.settings.ui.playlists.wizard.PlaylistWizardActivity" android:theme="@style/APKTOOL_RENAMED_0x7f1403a4"/>
        <activity android:name="ar.tvplayer.tv.settings.ui.playlists.PlaylistNameActivity" android:theme="@style/APKTOOL_RENAMED_0x7f1403a4"/>
        <activity android:name="ar.tvplayer.tv.settings.ui.playlists.DeletePlaylistActivity" android:theme="@style/APKTOOL_RENAMED_0x7f1403a4"/>
        <activity android:name="ar.tvplayer.tv.settings.ui.tvguide.TvGuideUrlActivity" android:theme="@style/APKTOOL_RENAMED_0x7f1403a4"/>
        <activity android:name="ar.tvplayer.tv.settings.ui.tvguide.TvGuideSourceNameActivity" android:theme="@style/APKTOOL_RENAMED_0x7f1403a4"/>
        <activity android:name="ar.tvplayer.tv.settings.ui.tvguide.DeleteTvGuideSourceActivity" android:theme="@style/APKTOOL_RENAMED_0x7f1403a4"/>
        <activity android:name="ar.tvplayer.tv.settings.ui.appearance.LogosFolderActivity" android:theme="@style/APKTOOL_RENAMED_0x7f1403a4"/>
        <activity android:name="ar.tvplayer.tv.settings.ui.other.RecordingsFolderActivity" android:theme="@style/APKTOOL_RENAMED_0x7f1403a4"/>
        <activity android:name="ar.tvplayer.tv.settings.ui.groupoptions.ResetPositionsActivity" android:theme="@style/APKTOOL_RENAMED_0x7f1403a4"/>
        <activity android:name="ar.tvplayer.tv.settings.ui.commons.ResetWatchTimeActivity" android:theme="@style/APKTOOL_RENAMED_0x7f1403a4"/>
        <activity android:name="ar.tvplayer.tv.tvguide.ui.CreateChannelGroupActivity" android:theme="@style/APKTOOL_RENAMED_0x7f1403a4"/>
        <activity android:name="ar.tvplayer.tv.tvguide.ui.CopyChannelsActivity" android:theme="@style/APKTOOL_RENAMED_0x7f1403a4"/>
        <activity android:name="ar.tvplayer.tv.unlock.ui.UnlockPremiumActivity" android:theme="@style/APKTOOL_RENAMED_0x7f1403a4"/>
        <activity android:name="com.parse.ui.login.ParseLoginActivity" android:theme="@style/APKTOOL_RENAMED_0x7f1403a6" android:windowSoftInputMode="adjustResize">
            <meta-data android:name="com.parse.ui.login.ParseLoginActivity.PARSE_LOGIN_ENABLED" android:value="true"/>
            <meta-data android:name="com.parse.ui.login.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME" android:value="true"/>
            <meta-data android:name="com.parse.ui.login.ParseLoginActivity.PARSE_SIGNUP_NAME_FIELD_ENABLED" android:value="false"/>
        </activity>
        <activity android:name="ar.tvplayer.tv.base.ui.filepicker.FilePickerActivity" android:theme="@style/APKTOOL_RENAMED_0x7f1403a4"/>
        <activity android:name="ar.tvplayer.tv.base.ui.filepicker.SmbActivity" android:theme="@style/APKTOOL_RENAMED_0x7f1403a4"/>
        <activity android:name="ar.tvplayer.tv.base.ui.UpdateAppActivity" android:theme="@style/APKTOOL_RENAMED_0x7f1403aa"/>
        <activity android:name="ar.tvplayer.tv.base.ui.WebViewActivity" android:theme="@style/APKTOOL_RENAMED_0x7f1403a9"/>
        <service android:exported="false" android:foregroundServiceType="dataSync" android:name="ar.tvplayer.tv.base.ScreenOnService"/>
        <receiver android:enabled="false" android:exported="false" android:name="ar.tvplayer.tv.base.BootReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <activity android:name="ar.tvplayer.core.util.RestartProcessActivity" android:process=":ar.tvplayer.phoenix" android:theme="@style/APKTOOL_RENAMED_0x7f140182"/>
        <receiver android:exported="false" android:name="ar.tvplayer.core.data.repositories.ReminderAlarmReceiver"/>
        <receiver android:exported="false" android:name="ar.tvplayer.core.domain2.RecordingAlarmReceiver"/>
        <receiver android:exported="false" android:name="ar.tvplayer.core.domain2.ScheduleExactAlarmPermissionReceiver">
            <intent-filter>
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.FirebaseCrashlyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <meta-data android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule" android:value="GlideModule"/>
        <meta-data android:name="com.google.android.play.billingclient.version" android:value="8.0.0"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:exported="false" android:name="com.android.billingclient.api.ProxyBillingActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:exported="false" android:name="com.android.billingclient.api.ProxyBillingActivityV2" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="ar.tvplayer.tv.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <service android:directBootAware="false" android:enabled="@bool/APKTOOL_RENAMED_0x7f050005" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <uses-library android:name="android.ext.adservices" android:required="false"/>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/APKTOOL_RENAMED_0x7f0c000d"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
    </application>
</manifest>
